{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %} <!--This returns a list of the messages stored in the session.-->
    {% if messages %}
      {% for message in messages %} <!--Jinja for loop-->
    
        <div>{{ message }}</div> <!--Make a divider for each message-->

      {% endfor %}
    {% endif %}
  {% endwith %}

<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

  <h1>Home</h1>
  <ul>
    <li><a href="/page1">That thing we do</a></li>
    <li><a href="/page2">The other thing</a></li>
  </ul>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.</p>

{% endblock %}
